stages:
  - test
  - build
  - publish

test:
  stage: test
  image: node:22-alpine
  before_script:
    - corepack enable
    - corepack prepare pnpm@10.20.0 --activate
    - pnpm install --frozen-lockfile
  script:
    - pnpm test --run
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  variables:
    PNPM_HOME: .pnpm-store

build-testing:
  stage: build
  image: node:22-alpine
  before_script:
    - corepack enable
    - corepack prepare pnpm@10.20.0 --activate
    - pnpm install --frozen-lockfile
  script:
    - pnpm run build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  variables:
    PNPM_HOME: .pnpm-store

build-release:
  stage: build
  image: node:22-alpine
  before_script:
    - corepack enable
    - corepack prepare pnpm@10.20.0 --activate
    - pnpm install --frozen-lockfile
  script:
    - pnpm run build
  artifacts:
    paths:
      - '.'
  rules:
    - if: '$CI_COMMIT_TAG'
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  variables:
    PNPM_HOME: .pnpm-store

publish-privcy:
  stage: publish
  image: node:20-bookworm-slim
  needs:
    - build-release
  script:
    - cp README.md packages/privcy/
    - cp LICENSE packages/privcy/
    - cd packages/privcy
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
    - npm publish
  rules:
    - if: '$CI_COMMIT_TAG =~ /^privcy@[0-9]+\.[0-9]+\.[0-9]+$/'
      when: always
    - when: never
