.privcy {
  box-sizing: border-box;
  position: fixed;
  margin: 0;
  top: auto;
  left: 20px;
  bottom: 20px;
  width: calc(min(680px, 100%) - 40px);
  border: none;
  font-size: 18px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  &::backdrop {
    background-color: black;
    opacity: 0.25;
  }
}

.privcy[data-customizing='true']
  :is(.privcy__title, .privcy__description) {
  opacity: 0.5;
}

.privcy__title {
  margin: 0 0 15px;
  font-size: 30px;
}

.privcy__description {
  margin: 0 0 25px;
}

.privcy__description > *:first-child {
  margin-top: 0;
}

.privcy__categories {
  padding: 0;
}

.privcy__category {
  list-style: none;
}

.privcy__category__name {
  margin-bottom: 8px;
}

.privcy__category__description {
  margin: 8px 0;
}

.privcy__category__checkbox {
  font-size: 16px;
  cursor: pointer;
}

.privcy__category__checkbox input[type='checkbox']:checked + span {
  font-weight: bold;
}

.privcy__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 570px) {
  .privcy__buttons {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 7.5px;
    font-size: 16px;
  }
}

.privcy__buttons__choices {
  display: inherit;
  flex-wrap: inherit;
  gap: 15px;
}
@media screen and (max-width: 570px) {
  .privcy__buttons__choices {
    flex-direction: column;
  }
}

.privcy__button {
  padding: 12px 24px;
  border: initial;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.privcy__button--customize {
  padding: 12px;
  background-color: initial;
  color: currentColor;
}

.privcy__button--acceptSelected {
}
.privcy__button--acceptAll {
}
.privcy__button--acceptRejected {
}
