@use './mixins/media-queries' as mq;

.content {
  padding: 2rem;
  position: relative;
  margin: 0 auto;
  display: block;

  & > * {
    margin: 1rem auto;
    width: min(640px, 100%);
  }

  & :is(h1, h2, h3, h4) {
    margin-bottom: 0.5em;
    line-height: 1.2;
  }

  & h2 {
    font-size: 40px;
  }

  & h3 {
    font-size: 30px;
  }

  & h4 {
    font-size: 25px;
  }

  &
    :is(
      p,
      em,
      strong,
      mark,
      del,
      ins,
      sup,
      sub,
      q,
      blockquote,
      ul,
      ol,
      dl,
      code
    )
    + :is(h2, h3, h4) {
    margin-top: 1.5em;
  }

  & blockquote {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1rem;
    border-left: 0.25rem solid currentColor;
    font-style: italic;

    & > * {
      font-size: 25px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  & code {
    padding: 0.2rem 0.4rem;
    font-family: monospace;
  }

  & strong {
    font-weight: bold;
  }

  & del {
    text-decoration: line-through;
  }

  & ins {
    text-decoration: underline;
  }

  & q {
    font-style: italic;
  }

  & a:not(.button) {
    text-decoration: underline;
  }

  & hr {
    color: currentColor;
    opacity: 0.15;
  }
}
