@font-face {
  font-family: 'Karrik';
  src:
    url('../assets/typefaces/karrik/Karrik-Regular.woff2')
      format('woff2'),
    url('../assets/typefaces/karrik/Karrik-Regular.woff')
      format('woff');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik';
  src:
    url('../assets/typefaces/karrik/Karrik-Italic.woff2')
      format('woff2'),
    url('../assets/typefaces/karrik/Karrik-Italic.woff')
      format('woff');
  font-display: swap;
  font-style: italic;
}
