@use 'css-reset-and-normalize';
@use 'typefaces';
@use 'content';

* {
  box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;
}

body {
  font-family: 'Karrik';
  font-size: 18px;
  line-height: 1.5;
}

privcy-banner {
  position: fixed;
  z-index: 1000;

  & .privcy {
    right: 1rem;
    left: auto;
    margin-right: 0;
    padding: 2rem;
    width: calc(min(600px, 100%) - 2rem);
    border: initial;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);

    &__title {
      font-size: 2.5rem;
    }

    &__category {
      margin-bottom: 1.5rem;

      &__name {
        font-size: 1.5rem;
      }
    }

    &__button:not(.privcy__button--customize) {
      padding: 0.75rem 1.5rem;
      border: initial;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
