.privcy {
  box-sizing: border-box;
  position: fixed;
  margin: 0;
  left: 20px;
  bottom: 20px;
  width: calc(min(680px, 100%) - 40px);
  font-size: 18px;

  & &__title {
    margin: 0 0 15px;
    font-size: 30px;
  }

  & &__description {
    margin: 0 0 25px;

    & > *:first-child {
      margin-top: 0;
    }
  }

  // &__categories {}

  & &__category {
    list-style: none;
    // &__name {}

    // &__description {}

    &__checkbox {
      font-size: 16px;

      & input[type='checkbox']:checked + span {
        font-weight: bold;
      }
    }
  }

  & &__buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    @media screen and (max-width: 570px) {
      justify-content: center;
      flex-direction: column-reverse;
      gap: 7.5px;
      font-size: 16px;
    }

    &__choices {
      display: inherit;
      flex-wrap: inherit;
      gap: 15px;

      @media screen and (max-width: 570px) {
        flex-direction: column;
      }
    }
  }

  & &__button {
    padding: 12px 24px;
    border: initial;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;

    &--customize {
      padding: 12px;
      background-color: initial;
      color: currentColor;
    }
  }
}
